<fieldset class="complete">
  <!------------SECTION LEGEND------------------->

  <legend class="complete__legend js_complete_legend" id="completeLegend">
    <span><i class="complete__keyboard fa-regular fa-keyboard"></i></span>
    <h2 class="complete__title">Rellena</h2>
    <span><i class="js_arrow complete__up fa-solid fa-chevron-up"></i></span>
  </legend>

  <!----------------SECTION INPUTS------------------>

  <div class="complete__form js_complete_form">
    <label class="complete__label" for="name">Nombre completo</label>
    <input
      class="complete__input"
      type="text"
      id="name"
      name="name"
      placeholder="Ej: Sally Jill"
    />

    <label class="complete__label" for="job">Puesto</label>
    <input
      class="complete__input"
      type="text"
      id="job"
      name="job"
      placeholder="Ej: Front-end unicorn"
    />

    <label class="complete__label" for="photo">Imagen de perfil</label>

    <!-- PARTE AÑADIR IMAGEN / EN FUTURO USAR LIBRERÍA-->

    <div class="complete__photo">
      <label class="complete__photo__label" for="">Añadir imagen</label>
      <div class="complete__photo__square"></div>
    </div>
    <!--------------FIN AÑADIR IMAGEN------------>

    <label class="complete__label" for="email">Email</label>
    <input
      class="complete__input"
      type="email"
      id="email"
      name="email"
      placeholder="Ej: sally-hill@gmail.com"
    />

    <label class="complete__label" for="phone">Teléfono</label>
    <input
      class="complete__input"
      type="number"
      id="number"
      name="number"
      placeholder="Ej: 555-55-55-55"
    />

    <label class="complete__label" for="linkedin">Linkedin</label>
    <input
      class="complete__input"
      type="text"
      id="linkedin"
      name="linkedin"
      placeholder="Ej: linkedin.com/in/sally.hill"
    />

    <label class="complete__label" for="github">Github</label>
    <input
      class="complete__input"
      type="text"
      id="github"
      name="github"
      placeholder="Ej: @sally-hill"
    />
  </div>
</fieldset>
