<fieldset class="design">
  <!------------SECTION LEGEND------------------->

  <legend class="design__legend">
    <i class="fa-light fa-object-ungroup design__square"></i>
    <h2 class="design__title">Diseña</h2>
    <i class="design__up fa-solid fa-chevron-up"></i>
  </legend>

  <!------------SECCION RADIO-------->

  <p>Colores</p>

  <!--Input y primer rectángulo de colores-->
  <input type="radio" id="firstColour" name="firstColour" value="firstColour" />
  <div class="design__container">
    <div class="design__rectangle1"></div>
    <div class="design__rectangle2"></div>
    <div class="design__rectangle3"></div>
  </div>
  <!--Input y segundo rectángulo de colores-->
  <input
    type="radio"
    id="secondColor"
    name="secondColour"
    value="secondColour"
  />
  <div class="design__container">
    <div class="design__rectangle4"></div>
    <div class="design__rectangle5"></div>
    <div class="design__rectangle6"></div>
  </div>
  <!--Input y tercer rectángulo de colores-->
  <input type="radio" id="thirdColour" name="thirdColour" value="thirdColour" />
  <div class="design__container">
    <div class="design__rectangle7"></div>
    <div class="design__rectangle8"></div>
    <div class="design__rectangle9"></div>
  </div>
</fieldset>
