<fieldset class="share">
  <legend class="share__legend js_share_legend" id="shareLegend">
    <i class="share__nodes fa-solid fa-share-nodes"></i>
    <h2 class="share__title">Comparte</h2>
    <i class="share__up fa-solid fa-chevron-up"></i>
  </legend>

  <div class="share__div js_share_form">
    <button class="share__button">
      <i class="fa-solid fa-address-card share__card"></i>Crear tarjeta
    </button>

    <div class="share__div--title">
      <h3 class="share__title--done">La tarjeta ha sido creada</h3>

      <a
        class="share__link"
        href="ttps://awesome-profile-card.com?id=A456DF0001"
      >
        <small>ttps://awesome-profile-card.com?id=A456DF0001</small></a
      >
    </div>
    <button class="share__button--in">
      <i class="fa-brands fa-twitter share__twi"></i>Compartir en twitter
    </button>
  </div>
</fieldset>
