<fieldset class="share">
  <legend class="share__legend js_share_legend" id="shareLegend">
    <i class="share__nodes fa-solid fa-share-nodes"></i>
    <h2 class="share__title">Comparte</h2>
    <i class="js_arrow share__up fa-solid fa-chevron-up toggle_arrow"></i>
  </legend>

  <div class="share__div js_share_form collapsed">
    <button class="share__button js_create_button">
      <i class="fa-solid fa-address-card share__card"></i>
      <p class share__card>Crear tarjeta</p>
    </button>
    <div class="share__div--title">
      <!-- En este h3, sale la frase de creada tarjeta o error -->
      <p class="js_share__title--done"></p>
      <!-- Aquí va la url creada -->
      <a
        class="share__link js_url"
        href="https://awesome-profile-card.com?id=A456DF0001"
        >https://awesome-profile-card.com?id=A456DF0001></a
      >
      <div>
        <button type="button" class="share__button--in hidden">
          <!-- El hidden se quita cuando se crea la tarjeta bien -->
          <i class="fa-brands fa-twitter share__twi"></i>
          <p class="share__twi">Compartir en twitter</p>
        </button>
      </div>
    </div>
  </div>
</fieldset>
