<section class="main-preview">
  <div class="main-preview-wrapper">
    <button class="main-preview__button">
      <i class="fa-solid fa-trash-can"></i>Reset
    </button>
  </div>
  <article class="profile-card">
    <div class="main-preview-wrapper">
      <div class="profile-card-border">
        <h2 class="profile-card__name">Nombre Apellido</h2>
        <p class="profile-card__occupation">Profesión</p>
      </div>
      <img
        class="profile-card__img"
        src="https://dice-media.imgix.net/events/the-story-of-nina-simone-a-live-performance-24th-jan-the-blues-kitchen-brixton-london-tickets/square-original.jpg?rect=352%2C0%2C569%2C569"
        alt=""
      />
      <ul class="profile-card__social">
        <li>
          <a href=""><i class="fa-solid fa-mobile-screen-button"></i></a>
        </li>
        <li>
          <a href=""><i class="fa-regular fa-envelope"></i></a>
        </li>
        <li>
          <a href=""><i class="fa-brands fa-linkedin-in"></i></a>
        </li>
        <li>
          <a href=""><i class="fa-brands fa-github-alt"></i></a>
        </li>
      </ul>
    </div>
  </article>
</section>
