// FONTS
$font_montserrat: "Montserrat", sans-serif;
$font_open: "Open Sans", sans-serif;
$font_merriweather: "Merriweather", serif;

// COLORS
$col_black: #000;
$col_white: #fff;
$col_dark_green_blue: #114e4e;
$col_dirty_blue: #438792;
$col_hospital_green: #a2deaf;
$col_light_khaki: #f9f4dc;
$col_dull_orange: #e17334;

// SIZES
$break_point_tablet: 480px;
$break_point_desktop: 768px;
