/*.grayline {
  border-bottom: 1rem solid $col_grayline;
  margin-top: 30rem;
  margin-bottom: 10rem;
}*/

.complete {
  border-color: transparent;
  display: flex;
  flex-direction: column;
  border-bottom: 1rem solid $col_grayline;
  margin-top: 30rem;
  margin-bottom: 10rem;

  /*SECTION LEGEND*/

  &__legend {
    display: flex;
    flex-direction: row;
    margin-bottom: 20rem;
    padding-top: 20rem;
    width: 100%;
    background-color: pink;
  }

  &__keyboard {
    font-size: 18rem;
    width: 20rem;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $col_dull_orange;
    margin-right: 10rem;
    background-color: red;
  }

  &__title {
    font-family: $font_open;
    font-weight: $font_w_semibold;
    font-size: 18rem;
    color: $col_gunmetal;
    text-transform: uppercase;
    background-color: yellow;
    width: 100%;
  }

  &__up {
    font-size: 18rem;
    height: auto;
    background-color: purple;
    margin-left: 0;
  }

  /*SECTION INPUTS*/

  &__form {
    display: flex;
    flex-direction: column;
  }

  &__label {
    font-family: $font_open;
    font-size: 14rem;
    color: $col_dark_green_blue;
    margin-bottom: 10rem;
  }

  &__input {
    border: 1rem solid $col_hospital_green;
    padding: 8rem;
    margin-bottom: 20rem;
    height: 30rem;
    font-family: $font_open;
    font-size: 14rem;
  }
}
