.share {
  border-color: transparent;
  display: flex;
  flex-direction: column;

  &__legend {
    display: flex;
    flex-direction: row;
    gap: 12rem;
    margin-bottom: 30rem;
    text-transform: uppercase;
    font-family: $font_open;
    font-weight: $font_w_semibold;
    font-size: 18rem;
    color: $col_gunmetal;
  }
}

.share__nodes {
  color: $col_dull_orange;
}

/*.share__up {
  margin-left: 120rem;
}*/

.share__button {
  width: 199rem;
  height: 50rem;
  color: $col_white_four;
  font-family: OpenSans;
  font-size: 18rem;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 12rem;
  border-color: #ffffff;
  background-color: #d5d5d5;
  margin-left: 30rem;
  margin-bottom: 50rem;
}

.fa-address-card {
  margin-right: 10rem;
}

.share__title {
  color: $col_gunmetal;
  font-size: 18rem;
  font-weight: 600;
  text-align: center;
}

.share__link {
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: #e17334;
  font-size: 12px;
  margin-bottom: 12px;
}

.share__button--in {
  width: 181px;
  height: 30px;
  border-radius: 3px;
  background-color: #00a0f5;
  font-family: OpenSans;
  font-size: 14px;
  color: #ffffff;
  display: flex;
  gap: 10px;
  align-items: center;
  margin-left: 50px;
}

//tengo que afinar varias cosas y usar las variables por ejemplo...
